<!--Cart-->

{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block title %}
Cart
{% endblock %}

{% block content %}

<style>

.cart-table {
	min-width: 400px;
	font-size: 14px;
}

.cart-thead {
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .2em;
	background-color: #f8f9fa !important;
}

.cart_icon {
	text-decoration: none;
	color: #868e96 !important;
}

.stripe-button-el {
    width: 35% !important;
    margin-left: 32%;
	display: block !important;
	background-color:rgb(92, 96, 100) !important;
	margin-bottom: 5px;
}

.stripe-button-el:hover {
	background-color:rgb(47, 49, 51)!important ;
}


.stripe-button-el span {
	height: 36px !important;
	font-family: 'Roboto', sans-serif !important;
	font-size: 16px !important;
}

.margin {
     margin-bottom: 100px;
     margin-top: 0px;
}

body {
    background-color: rgb(255, 213, 220)
    
}
@media (max-width: 991px) {
  .margin{
    margin-bottom: 85px;
    }
}

</style>

  {% if not cart_items %}
    <div class="text-center" style="padding-top:120px ;">
      <br>
      <h1 class="text-center product_title">
        Your shopping cart is empty
      </h1>
      <br>
      <p class="text-center margin">
        Please click <a href="{% url 'products' %}">here</a> to continue shopping
      </p>
    </div>
  {% else %}
  <div class="text-center " style="margin-top:120px ;">
    <br>
    <div class="text-center product_title">
      Your shopping cart
    </div>
  </div>
  <div class="row mx-auto margin">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
      <table class="table cart-table">
        <thead class="cart-thead">
          <tr>
            <th colspan="4">
              Your items
            </th>
          </tr>
        </thead>
        {% for cart_item in cart_items %}
          <tr>
            <td>
              <a href="cart_item.product.get_url"></a>
                <img src="{{cart_item.product.image.url}}" width="100" height="100" alt="" >
              </a>
            </td>
            <td class="text-left">
              {{cart_item.product.name}}
              <br>
              SKU: {{cart_item.product.id}}
              <br>
              Unit Price: ${{cart_item.product.price}}
              <br>
              Qty: {{cart_item.quantity}} x {{cart_item.product.price}}
            </td>
            <!-- Add Subtotal Items -->
            <td>
              ${{cart_item.price}}
            </td>
            {% if cart_item.quantity < cart_item.product.stock %}
            <td>
              &nbsp;<a href="{% url 'add_cart' cart_item.product.id %}"><i class="fas fa-plus-circle cart_icon"></i></a>
              &nbsp;<a href=""><i class="fas fa-minus-circle cart_icon"></i></a>
              &nbsp;<a href="{% url 'remove_from_cart' cart_item.product.id %}"><i class="fas fa-trash-alt cart_icon"></i></a>
            </td>
            {% else %}
            <td>
              &nbsp;<a href=""><i class="fas fa-minus-circle cart_icon"></i></a>
              &nbsp;<a href="{% url 'remove_from_cart' cart_item.product.id %}"><i class="fas fa-trash-alt cart_icon"></i></a>
            </td>
            {% endif %}
          </tr>
        {% endfor %}

      </table>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
      <table class="table cart-table">
        <thead class="cart-thead">
            <tr>
              <th>
                Check out
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Please review your cart items before proceeding with the payment.
              </td>
            </tr>
            <tr>
              <td class="center">
                Your total is: <strong>${{total}}</strong>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="center">
        <!-- add the checkout Buttone -->
        <a href="{% url 'checkout' %}" class="stripe-button-el btn-block btn-info btn"  role="button">Checkout</a>
        <br/>
        <a href="{% url 'products' %}" style="text-decoration: none">
          <button type="button" class=" stripe-button-el btn btn-block bg-dark text-white margin">
            Continue Shopping
          </button>
        </a>
        </div>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
