
{% extends "base.html" %}
{% load static %}

{% block page_header %}
 
    
  
{% endblock %}

{% block content %}

 <!--L
<div class=" hero container center h-100">
<div class=" row h-100">
<img src="/media/hero_image1.jpg" class="hero responsive with:100% height:auto alt="" ></div>    

  <div class="centered_text"><h1 class="heading fadeIn zoomIn">Welcome in Cupid Store!</h1></div> 
<br>
<div class="centered_button"> <h4><a href="" class=" centered shop-now-button btn btn-heart dark rounded-2 text-uppercase py-3">Shop Now</a></h4></div>
</div>
</div>ink to Icones-->


<div id="mystore">
    <h1>Welcome To Cupid Store</h1>
    <p>Best Dating Gifts!.</p>
    <a href="#" class="button">Shop Now</a>
    </div>

{% endblock %}


