<!--Footer css-->
{% load static %}
<style>

.text-position  {
display:flex;
position: fixed;
bottom: 0;
left: 0;
right: 0;
height: 50px;
width: 100%;
border-top: 1px solid white;
justify-content:center;
align-items:center; 
}

.pink-link {
color:rgb(255, 213, 220);
}

.pink-link:hover  {
color:rgb(247, 181, 192);
}

</style>

<!--Footer-->
<footer class="text-position center_footer_text bg-dark text-white mt-5 p-5">
    <div class="container lead text-center">© 2021 Cupid Store <a class="pink-link" href="https://github.com/amorawskanew/cupid_ecommerce_store_project_4" target="_blank">by Anna Morawska</a></div>
</footer>
