{% extends "account/base.html" %}

{% load i18n %}


{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}

<style>
.signout-padding {
    padding-top: 130px;  
}
.cancel-out-btn {
    background:  rgb(92, 96, 100);
    color: rgb(255, 255, 255)! important;
    border-radius: 10px; 
    text-align: center;
}
.cancel-out-btn:hover {
    background:  rgb(70, 72,73)!important;
}
.sign-out-btn {
    background:  rgb(10, 34, 58)!important;
    color: rgb(255, 255, 255)! important;
    border-radius: 10px !important; 
    text-align: center;
}
.sign-out-btn:hover {
    background:  rgb(0,0,0)!important;
}

</style>

<div class="signout-padding">
<hr>
<h2 class="logo-font mb-4 ">{% trans "Sign Out" %}</h2>
<hr>
<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <a class="btn cancel-out-btn" href="{% url 'home' %}">Cancel</a>
  <button class="btn sign-out-btn " type="submit">{% trans 'Sign Out' %}</button>
</form>
</div>


{% endblock %}