{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

    <hr>
    <h2 class="logo-font mb-4">{% trans "Password Reset" %}</h2>
    <hr>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}


    <style>
.reset-password-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.reset-password-btn {
    background:  rgb(10, 34, 58)!important;
    color: rgb(255, 255, 255)! important;
    border-radius: 10px !important; 
    text-align: center;
}
.reset-password-btn:hover {
    background:  rgb(0,0,0)!important;
}
.back-to-login-btn {
    background:  rgb(92, 96, 100);
    color: rgb(255, 255, 255)! important;
    border-radius: 10px; 
    text-align: center;
}
.back-to-login-btn:hover {
    background:  rgb(70, 72,73)!important;
}

</style>

    <p class="reset-password-padding">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn back-to-login-btn" href="{% url 'account_login' %}">Back to Login</a>
        <input type="submit" class="reset-password-btn" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}