
{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<style>
.signup-padding {
    padding-top: 130px;
    padding-bottom: 130px;
}

.sign-up-btn {
    background:  rgb(10, 34, 58)!important;
    color: rgb(255, 255, 255)! important;
    border-radius: 10px !important; 
    text-align: center;
}
.sign-up-btn:hover {
    background:  rgb(0,0,0)!important;
}
.back-to-login-btn {
    background:  rgb(92, 96, 100);
    color: rgb(255, 255, 255)! important;
    border-radius: 10px; 
    text-align: center;
}
.back-to-login-btn:hover {
    background:  rgb(70, 72,73)!important;
}

</style>
<wrap class=" pink_background">
<div class="signup-padding">
<hr>
<h2 class="logo-font mb-4">{% trans "Sign Up" %}</h2>
<hr>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="btn back-to-login-btn" href="{% url 'account_login' %}">Back to Login</a>
  <button class="sign-up-btn" type="submit">{% trans "Sign Up" %}</button>
</form>
</div>
</wrap>

{% endblock %}